@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/*全体*/
.wrapper{
    max-width: 600px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
#calendar table {
    outline: 2px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
}
/* 曜日の列のマス */
#calendar table tr th {
	outline: 1px solid #ffffff;
    background: #c4c4ff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000000;
}
/* 日付のマス */
#calendar table tr td {
	outline: 1px solid #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* 日付けのボタン */
#calendar table tr td #Submit1,#Submit2,#Submit3,#Submit4 {
    outline: 0px;
    margin: 0 0 0 0;
    border: 0 0 0 0;
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    height: 100%;
    width: 100%;
    text-align: center;

    /* 背景透過 */
    background: transparent;
    /* カチカチの四角にするやつ */
    border-radius: 0%;
    /* ポインター合わせるだけで反応はなし */
    cursor: pointer;
}

/*日曜日*/
#calendar table tr td:first-child {
    background: #e23a3a;
}
/*土曜日*/
#calendar table tr td:last-child {
    background: #8886d0;
}
/*前月の日付*/
#calendar table tr td #Submit1 {
    color: #717171;
	font-family: 'DotGothic16', sans-serif;
}
/*後月の日付*/
#calendar table tr td #Submit2 {
    color: #717171;
 	font-family: 'DotGothic16', sans-serif;
}
/*本日*/
#calendar table tr td #Submit3 {
	color: #ffffff;
    background-color: #D65E72;
	font-family: 'DotGothic16', sans-serif;
}
#calendar table tr td #Submit4 {
	color: #ffffff;
	font-family: 'DotGothic16', sans-serif;
}

#calendar table tr td:hover{
    background-color: #e4bcdf;
    border-color: #000;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    color: #000;
	background-color:#ffffff;
		 border: 2px solid #000;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #FFDBED;
    border-color: #000;
}
#prev {
    float: left;
}
#next {
    float: right;
}

/* カレンダー下のテーブル */

#under table {
    outline: 2px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
}
#under table tr td {
    outline: 1px solid #ffffff;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    /* ポインター合わせるだけで反応はなし */
    cursor: pointer;
}

/* カレンダー下部分 */

#under {
	max-width: 600px; /* カレンダーに合わせているだけ */
	margin: auto; /* 中央寄せ */
    text-align:center;
}
#under td,th {
	 color: #000; /* テキスト色 */
}
.char {
	max-width: 600px;
	height: 230px;
/*	margin: 0 auto; */
	position: relative;

}
.backpic {
  	position: absolute;
	left: 0;
	top: 0;
}
.charpic {
  	position: absolute;
	top: 0;
	left: 200px;
}


.area {
  max-width: 600px;
  /* background: #fff; */
  padding:50px 20px;
  	margin: auto; /* 中央寄せ */
    text-align:center;
}
