@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html {
	font-family: 'DotGothic16', sans-serif;
	color: #F0F0F0;
}

a:link,a:visited,a:hover,a:active {
	color:#F0F0F0;
}
a {
	 text-decoration: none;
}


body {
	/* 全体を真ん中に寄せる */
    width: 100%;
    max-width: 1280px;
    text-align: center;

    background-color: #000;
}

ul {
	/* リストの丸消す */
	list-style-type: none;
}

li {
	width: 120px;
	text-align:center;
    min-width:120px;
        display: inline-block;
    text-decoration: none;
        outline: none;
    margin: auto;
    border: 2px solid #fff;
      border-radius:10px;
  transition    : .3s;         /* なめらか変化 */
}

li:hover {
  color         : #000;
  background    : #fff;
      border: 2px solid #000;
}

table {
	/* テーブルタグ内真ん中寄せ */
    margin: auto;
    text-align:center;
}

.button {
  display       : inline-block;
    border: 2px solid #fff;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : transparent;     /* 背景色     */
  color         : #F0F0F0;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  font-family: 'DotGothic16', sans-serif;
        border-radius:10px;
}
.button:hover {
  color         : #000;
  background    : #fff;
  font-family: 'DotGothic16', sans-serif;
      border: 2px solid #000;
}

/* タイピング風文字の表示 */

.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 /*	content: "|";     文字の最後に縦線入れるなら*/
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}