@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html {
	font-family: 'DotGothic16', sans-serif;
}

body {
	/* 全体を真ん中に寄せる */
    width: 100%;
    max-width: 1280px;
    text-align: center;

    background-color: #FFF5FA;
}

ul {
	/* リストの丸消す */
	list-style-type: none;
}

li {
	width: 120px;
	text-align:center;
    min-width:120px;
        display: inline-block;
    text-decoration: none;
        outline: none;
    margin: auto;
}

table {
	/* テーブルタグ内真ん中寄せ */
    margin: auto;
    text-align:center;
}