@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html {
	font-family: 'DotGothic16', sans-serif;
	color: #F0F0F0;
}

a:link,a:visited,a:hover,a:active {
	color:#F0F0F0;
}


body {
	/* 全体を真ん中に寄せる */
    width: 100%;
    max-width: 1280px;
    text-align: center;

    background-color: #000;
}

ul {
	/* リストの丸消す */
	list-style-type: none;
}

li {
	width: 120px;
	text-align:center;
    min-width:120px;
        display: inline-block;
    text-decoration: none;
        outline: none;
    margin: auto;
    border: 2px solid #fff;
      border-radius:10px;
}

table {
	/* テーブルタグ内真ん中寄せ */
    margin: auto;
    text-align:center;
}

/* タイピング風文字の表示 */

.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 /*	content: "|";     文字の最後に縦線入れるなら*/
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}