@charset "UTF-8";

@charset "UTF-8";

.area {
  max-width: 960px;
  padding:50px 20px;
  	margin: auto; /* 中央寄せ */
    text-align:center;
}

#paylist {
	margin: auto;
    text-align:center;
	overflow: auto;
	width: 500px;                /* 横幅指定 */
	height: 150px;               /* 横幅指定 */
	box-shadow:0 0 5px #ddd;
	border: 2px solid #fff;
}