@charset "UTF-8";

.rank {
	width: 500px;                /* 横幅指定 */
	height: 250px;               /* 横幅指定 */
	background:#fff;
	box-shadow:0 0 5px #ddd;
}

.score {
	width: 500px;                /* 横幅指定 */
	height: 100px;               /* 横幅指定 */
	background:#fff;
	box-shadow:0 0 5px #ddd;
	    margin: auto;
    text-align:center;
}

.rank td,tr {
	border:1.5px dotted #ddd;
}